.burgers {
    background: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
}
.slider {
    width: 100%;
    position: relative;
    &__wrap {
        overflow: hidden;
        @include tablet() {
            width: 580px;
        }
        @include phone() {
            width: 460px;
        }
    }
    &__list {
        display: flex;
        transition: 1s;
    }
    &__item {
        position: relative;
        flex: 1;
        padding: 0 32px;
    }
}
.slide {
    display: flex;
    align-items: center;
    @include tablet() {
        flex-direction: column;
        align-items: center;
    }
    &__picture {
    padding: 45px 0;
    flex: 1;
    @include tablet() {
        padding-bottom: 0;
        flex: auto;
        text-align: center;
        }
    }
    &__img {
        max-width: 100%;
        @include tablet() {
            max-width: 90%;
        }
        @include phone() {
            max-width: 80%;
        }
        &--size {
            @include phone() {
                max-width: 70%;
            }
        }
    }
    &__desc {
        flex: 1;
        margin-left: 20px;
        @include tablet() {
            flex: auto;
            margin-left: 0;
            text-align: center;
        }
    }
    &__content {
        color: white;
        font-size: 13px;
        line-height: 1.7;
        font-weight: 300;
        margin-bottom: 15px;
    }
    &__order {
        display: flex;
        align-items: flex-end;
        @include tablet() {
            justify-content: center;
        }
    }
    &__prices {
        font-family: 'gagalin', Helvetica, sans-serif;
        color: #e34e29;
        margin-bottom: -10px;
    }
    &__cost {
        font-size: 70px;
        @include phone() {
            font-size: 55px;
        }
    }
    &__currency {
        font-size: 30px;
    }
    &__btn {
        margin-left: 25px;
    }
}
.composition, .kkal {
    position: absolute;
    left: 0;
}
.composition {
    top: 0;
    &__show {
        position: absolute;
        top: 0;
        left: -5555px;
    }
    &__list {
        background: white;
        border-radius: 5px;
        width: 200px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
    }
    &__item {
        display: flex;
        align-items: center;
        color: black;
    }
    &__content {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex: 1;
        margin-left: 15px;
    }
    &__weight {
        font-size: 14px;
        font-weight: 300;
        text-align: right;
    }
}
.composition__icon {
    width: 90px;
    height: 90px;
    background-color:#eb8c38;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    &:hover {
        .composition__show {
            left: 90px;
        }
    }
    .composition__text {
        font-family: 'gagalin', Helvetica, sans-serif;
        color: white;
        font-size: 14px;
    }
}
.kkal {
    bottom: 0;
    @include tablet() {
        top: 0;
        right: 0;
        bottom: auto;
        left: auto;
    }
}
.kkal__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    .kkal__svg {
        opacity: 0.8;
        margin-bottom: 5px;
    }
    .kkal__sum, .kkal__unit {
        font-family: 'gagalin', Helvetica, sans-serif;
        color: white;
        opacity: 0.8;
    }
    .kkal__sum {
        top: 30px;
        font-size: 22px;
        position: absolute;
    }
    .kkal__unit {
        font-size: 15px;
    }
}
.slider__arrows {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include phone() {
        left: 5%;
        width: 90%;
    }
}
.slider__arrow {
    width: 30px;
    height: 50px;
    border: transparent;
    cursor: pointer;
    background-position: center;
    outline: none;
}
.slider__arrowprew {
    background: url('../images/content/intro/Strelka33.png');
    background-repeat: no-repeat;
}
.slider__arrownext {
    background: url('../images/content/intro/Strelka22.png');
    background-repeat: no-repeat;
}