.section-hero {
    width: 100%;
    height: 660px;
    background: url('../../../image/bg/bg11.jpg') 0 0 / cover no-repeat ;
}
.container__menu {
    width: 90%;
    height: 660px;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__list {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    .menu__list-item {
        position: relative;
        margin:0 15px;
        .menu__list-link {
            color: white;
        }
    }
}
.menu__list-item::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    right: -16px;
}
.menu__list-item:last-child:after {
    content: none;
}
.menu__btn {
    padding: 15px;
    color: white;
    text-transform: uppercase;
    background-color: #e34e29;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
}
.main {
    display: flex;
    margin-bottom: 110px;
}
.content {
    display: flex;
    justify-content: center;
    width: 95%;
    .burger {
        background: url('../../../image/content/intro/burger1.png');
        background-repeat: no-repeat;
        width: 35%;
        height: 375px;
        position: relative;
    }
    .burger::before {
        content: "";
        background-image: url('../../../image/content/intro/kapli1.png');
        background-repeat: no-repeat;
        position: absolute;
        top: 55px;
        right: -60px;
        width: 128%;
        height: 77%;
    }
}
.description {
    width: 35%;
    margin: auto 0;
}
.title {
    font-size: 75px;
    font-family: 'gagalin', Helvetica, sans-serif;
    color: #f7b23b;
}
.description__text {
    font-family: 'lifehack', Helvetica, sans-serif;
    color: white;
    font-size: 65px;
}
.down__link {
    display: block;
    width: 45px;
    height: 25px;
    background-image: url('../../../image/content/intro/Strelka1.png');
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: pointer;
}