.order {
    background-image: url('../images/bg/order-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.form {
    display: flex;
    @include tablet() {
        flex-flow: column;
        align-items: center;
    }
    &__part {
        width: 50%;
        margin-left: 20px;
        @include tablet() {
            width: 80%;
            margin-left: 0;
        }
        @include phone() {
            width: 100%
        }
        &:first-child {
            margin-left: 0;
        }
    }
    &__title {
        font-size: 14px;
        color: white;
        margin-bottom: 5px;
        margin-left: 15px;
    }
    &__row {
        margin-bottom: 20px;
        display: flex;
    }
    &__input {
        border: initial;
        padding: 5px 20px;
        background-color: white;
        border-radius: 5px; 
        width: 100%;
        &--comment {
            height: 90px;
        }
    }
    &__block {
        flex: 1;
        margin-left: 20px;
        @include phone() {
            text-align: center;
        }
        &:first-child {
            margin-left: 0;
        }
        &--radio {
            display: flex;
            flex: 0.5;
            position: relative;
            margin-left: -50px;
            @include phone() {
                justify-content: center;
            }
            &:first-child {
                margin-left: 0;
            }
        }
        &--checkbox {
            display: flex;
            position: relative;
            @include phone() {
                justify-content: center;
            }
        }
    }
    &__radio-fake {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15px;
        height: 15px;
        background-color: white;
        border-radius: 50%;
        &::before {
            content: "";
            display: block;
            width: 0px;
            height: 0px;
            border-radius: 50%;
            background-color: #e34e29;
            transition: .3s;
        }
    }
    &__radio {
        position: absolute;
        left: -5000px;
    }
    &__radio:checked + .form__radio-fake::before {
        width: 7px;
        height: 7px;
    }
    &__checkbox-fake {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15px;
        height: 15px;
        background-color: white;
        &::before {
            content: "";
            background-image: url('../images/svgicons/check.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 0px;
            height: 0px;
        }
    }
    &__checkbox {
        position: absolute;
        left: -5000px;
    }
    &__checkbox:checked + .form__checkbox-fake::before{
        width: 11px;
        height: 11px;
    }
}
.error {
    color: red;
}
.over-lay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:rgba(76, 82, 91, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}
.overlay-container {
    width: 170px;
    min-height: 80px;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.overlay-content {
    font-size: 14px;
    margin-bottom: 16px;
}
.send {
    padding:10px 15px;
}