.we {
    background: url('../images/bg/bg2.jpg') 0 0 / cover no-repeat ;
    &__list {
        display: flex;
        @include phone() {
            flex-flow: column;
            min-height: 450px;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        flex: 1;
        text-align: center;
        padding: 0 10px;
        @include tablet() {
            width: 33%;
        }
        @include phone() {
            width: 95%;
            min-height: 115px;
            height: 115px;
            flex-flow: row;
            margin-bottom: 32px;
        }
    }
    &__picture {
        margin-bottom: 20px;
        @include phone() {
        }
    }
    &__img {
        width: 120px;
        height: 120px;
    }
    &__desc {
        @include phone() {
            text-align: left;
            padding-left: 20px;
        }
    }
    &__name {
        color: $sgrey;
        font-family: 'lifehack', Helvetica, sans-serif;
        margin-bottom: 7%;
        font-size: 24px;
    }
    &__text {
        font-weight: 300;
        color: $sgrey;
        font-size: 14px;
        line-height: 1.42;
        @include tablet() {
            padding: 0 12px;
        }
        @include phone() {
            padding: 0;
        }
    }
}