.hero {
    background: url('../images/bg/bg11.jpg') 0 0 / cover no-repeat ;
    &__content {
        display: flex;
        justify-content: space-around;
        margin-bottom: 70px;
        &-desc {
            width: 35%;
            margin: auto 0;
        }
        &-text {
            font-family: 'lifehack', Helvetica, sans-serif;
            color: white;
            font-size: 65px;
        }
    }
    &__down-link {
        display: block;
        width: 45px;
        height: 25px;
        background-image: url('../images/content/intro/Strelka1.png');
        background-repeat: no-repeat;
        margin: 0 auto;
        cursor: pointer;
    }
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__list {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    .menu__list-item {
        position: relative;
        margin:0 15px;
        .menu__list-link {
            color: white;
        }
    }
}
.menu__list-item::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    right: -16px;
}
.menu__list-item:last-child:after {
    content: none;
}