.we {
    background: url('../images/bg/bg2.jpg') 0 0 / cover no-repeat ;
    &__list {
        display: flex;
    }
    &__item {
        flex: 1;
        text-align: center;
        margin: 0 20px;
    }
    &__picture {
        margin-bottom: 20px;

    }
    &__img {
        width: 120px;
        height: 120px;
    }
    &__name {
        color: $sgrey;
        font-family: 'lifehack', Helvetica, sans-serif;
        margin-bottom: 7%;
        font-size: 24px;
    }
    &__text {
        font-weight: 300;
        color: $sgrey;
        font-size: 14px;
    }
}