.map {
    background-image: url('../images/bg/map-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    @include phone() {
        background-position: center;
    }
    &__marker {
        display: block;
        width: 50px;
        height: 60px;
        &--1 {

            position: absolute;
            top: 150px;
            left: 560px;
        }
        &--2 {

            position: absolute;
            top: 260px;
            right: 470px;
        }
        &--3 {

            position: absolute;
            bottom: 90px;
            left: 560px;
        }
        &--4 {

            position: absolute;
            bottom: 230px;
            right: 236px;
        }
    }
    &__marker-svg {
        width: 50px;
        height: 60px;
    }
}
.footer {
    position: absolute;
    bottom: 0px;
    background-image: url('../images/bg/footer-bg.jpg');
    height: 60px;
    width: 100%;
    @include phone() {
        height: 115px;
    }
}
.contacts {
    width: 50%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    @include phone() {
        justify-content: center;
        height: 50%;
        margin-bottom: 10px;
    }
    &__phone-icon {
        height: 12px;
        width: 15px;
    }
    &__number {
        color: #e34e29;
        font-size: 15px;
        font-weight: bold;
        @include phone() {
            text-align: center;
        }
    }
    &__address {
        color: white;
        font-size: 14px;
        @include phone() {
            margin-bottom: 10px;
        }
    }
}
.social {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include phone() {
        justify-content: center;
    }
    &__list {
        display: flex;
    }
    &__item {
        padding: 0 10px;
    }
    &__icon {
        display: block;
        width: 20px;
        height: 20px;
        fill: #575757;
    }
    &__link {
        display: block;
        :hover {
            fill: white;
        }
    }
}