.menu {
    background-image: url('../images/bg/menu-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: flex-end;
    &__list, &__item, &__link, &__desc {
        height: 100%;
    }
    &__list {
        display: flex;
    }
    &__item {
        display: flex;
        position: relative;
        z-index: 5;
        &--active {
            .menu__content {
                width: 480px;
                @include tablet() {
                    width: 400px;
                }
            }
            .menu__title {
                color: $orange;
            }
        }
    }
    &__link {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 80px;
        text-decoration: none;
    }
    &__title {
        width: 100%;
        white-space: nowrap;
        color: white;
        font-size: 40px;
        font-family: 'gagalin', sans-serif;
        transform: rotate(-90deg);
        margin-bottom: 50px;
    }
    &__content {
        width: 0;
        overflow: hidden;
        transition: 1s;
    }
    &__desc {
        min-width: 400px;
        line-height: 1.42;
        color: white;
        padding: 40px;
        padding-bottom: 0;
        background-color: #2f3133;
        opacity: 0.7;
        @include tablet() {
            min-width: 320px;
        }
    }
}