.hero {
    background: url('../images/bg/bg11.jpg') 0 0 / cover no-repeat ;
    &__content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 60px;
        &-desc {
            width: 50%;
        }
        &-img {
            width: 50%;
        }
        &-text {
            font-family: 'lifehack', Helvetica, sans-serif;
            color: white;
            font-size: 65px;
        }
    }
    &__down {
        margin-bottom: 30px;
        &-link {
            display: block;
            width: 45px;
            height: 25px;
            background-image: url('../images/content/intro/Strelka1.png');
            background-repeat: no-repeat;
            margin: 0 auto;
            cursor: pointer;
        }
    }
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: block;
}
.menu__list {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    flex-wrap: wrap;
    .menu__item {
        position: relative;
        .menu__link {
            color: white;
            display: block;
            font-size: 13px;
            margin: 0 15px 0 15px;
        }
    }
}
.menu__item::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: -2px;
}
.menu__item:last-child:after {
    content: none;
}