.team {
    background-image: url('../images/bg/team-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end; 
    &__block {
        height: 100%;
        width: 50%;
        background-color:#2f3133;
        opacity: 0.9;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    &__content {
        height: 0;
        overflow: hidden;
        transition: 1s;
        display: flex;
        color: white;
    }
    &__list {
        width: 360px;
    }
    &__item {
        margin-top: 30px;
        &--active {
            .team__content {
                height: 100px;
            }
            .team__name {
                color: $orange;
                &::before {
                    border-top: 0;
                    border-bottom: 8px solid orange;
                }
            }
        }
    }
    &__link {
        display: block;
        margin-bottom: 15px;
    }
    &__name {
        font-family: 'gagalin', sans-serif;
        color: white;
        position: relative;
        &::before {
            content: "";
            display: block;
            border: 6px solid transparent;
            border-top: 8px solid $orange;
            width: 2px;
            position: absolute;
            top: 8px;
            left: -20px;
            transition: 0.5s;
        }
    }
    &__images {
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
    &__desc {
        margin-left: 20px;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        &-title {
            font-size: 14px;
            font-weight: bold;
        }
        &-text {
            font-size: 14px;
        }
    }
}