.map-main {
    position: relative;
    display: flex;
    flex-flow: column;
}
.map {
    flex: 1;
}
.footer {
    position: absolute;
    bottom: 0px;
    background-image: url('../images/bg/footer-bg.jpg');
    height: 60px;
    width: 100%;
    @include phone() {
        height: 115px;
    }
}
.contacts {
    width: 50%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    white-space: nowrap;
    @include phone() {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
        margin-bottom: 10px;
    }
    &__phone-icon {
        height: 12px;
        width: 15px;
    }
    &__number {
        color: #e34e29;
        font-size: 15px;
        font-weight: bold;
    }
    &__address {
        color: white;
        font-size: 14px;
        @include phone() {
            margin-bottom: 10px;
        }
    }
}
.social {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include phone() {
        justify-content: center;
    }
    &__list {
        display: flex;
    }
    &__item {
        padding: 0 10px;
    }
    &__icon {
        display: block;
        width: 20px;
        height: 20px;
        fill: #575757;
    }
    &__link {
        display: block;
        :hover {
            fill: white;
        }
    }
}