.comments__content {
    width: 100%;
    height: 100%;
}
.comments__list {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    .comments__item {
        position: relative;
        width: 25%;
        height: 50%;
        background-position-x: 35%;
        filter: grayscale(100%);
        color: white;
        background-size: cover;
        @include tablet() {
            width: 50%;
            height: 25%;
            background-position: center;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            background-color: $sgrey;
            opacity: 0;
            transition: .3s;
        }
        &:hover::before {
            opacity: 0.6;
        }
        &:hover .comments__item-content {
            opacity: 1;
        }
        &-content {
            position: relative;
            margin-top: 55px;
            padding: 0 7%;
            opacity: 0;
            display: flex;
            flex-direction: column;
            @include tablet() {
                margin-top: 25px;
            }
        }
        &-title {
            font-family: 'gagalin', Helvetica, sans-serif;
            font-size: 14px;
            margin-bottom: 25px;
            @include phone() {
                align-self: center;
            } 
        }
        &-text {
            font-size: 14px;
            font-weight: 300;
            line-height: 1.7;
            margin-bottom: 25px;
            @include phone() {
                display: none;
            }         
        }
    }
}