.switcher {
    position: fixed;
    top: 70px;
    right: 60px;
}
.switcher__item {
    margin-bottom: 16px;
}
.switcher__item-link {
    position: relative;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: transparent;
    background-color: white;
    &:hover::before {
        border: white 1px solid;
    }
}
.switcher__item-link::before {
    content: "";
    position: absolute;
    top: -7px;
    left: -7px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: transparent;
    transition: .2s;
}
.switcher__item--activ {
    position: relative;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: transparent;
    background-color: white;
    border: white 1px solid;
}