.switcher {
    position: fixed;
    top: 70px;
    right: 60px;
    @include tablet {
        height: 0;
        overflow: hidden;
    }
    @include phone {
        height: 0;
        overflow: hidden;
    }
}
.switcher__item {
    margin-bottom: 16px;
}
.switcher__item-link {
    position: relative;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
    &:hover::before {
        opacity: 1;
    }
}
.switcher__item-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: white 1px solid;
    opacity: 0;
    transition: .4s;
    transform: translate(-50%,-50%);
}
.switcher__item_active {
    .switcher__item-link::before {
        opacity: 1;
    }
}