@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/Ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/Ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/Ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: medium;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/Ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/Gagalin/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/Gagalin/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehack';
  src: url("../fonts/Lifehack/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/Lifehack/lifehack_medium-webfont.woff") format("woff");
  font-weight: medium;
  font-style: normal; }

body {
  font-family: 'ubuntu', Helvetica, sans-serif; }

html, body {
  width: 100%;
  height: 100%; }

ul {
  margin: 0;
  padding: 0; }

ul li {
  list-style-type: none; }

a {
  text-decoration: none; }

p {
  margin: 0px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal; }

input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.wrapper {
  position: relative;
  height: 100%; }

.main-content {
  height: 100%; }

.container {
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px);
  max-width: 940px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .container--space-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .container_footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }

.section {
  height: 100vh;
  min-height: 650px; }

.button {
  padding: 10px 15px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  color: white;
  border: none;
  cursor: pointer; }
  .button_color-orange {
    background-color: #e34e29; }
  .button--comments {
    background-color: #2e3133;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start; }
  .button_clean {
    background-color: transparent;
    text-transform: none; }

.title {
  font-size: 72px;
  font-family: 'gagalin', Helvetica, sans-serif;
  color: #f7b23b; }
  .title_color-grey {
    color: #2e3133;
    text-align: center;
    margin-bottom: 40px; }
  .title_margin-button {
    margin-bottom: 15px; }
  .title_order {
    text-align: center;
    margin-bottom: 45px; }
  .title_menu {
    color: white;
    position: absolute;
    top: 100px;
    left: 100px; }

.hero {
  background: url("../images/bg/bg11.jpg") 0 0/cover no-repeat; }
  .hero__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -60px; }
    .hero__content-desc {
      width: 50%; }
    .hero__content-img {
      width: 50%; }
    .hero__content-text {
      font-family: 'lifehack', Helvetica, sans-serif;
      color: white;
      font-size: 65px; }
  .hero__down {
    margin-bottom: 30px; }
    .hero__down-link {
      display: block;
      width: 30px;
      height: 15px;
      margin: 0 auto;
      cursor: pointer; }
    .hero__down-svg {
      width: 30px;
      height: 15px; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.logo {
  display: block; }

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .nav__list .nav__item {
    position: relative; }
    .nav__list .nav__item .nav__link {
      color: white;
      display: block;
      font-size: 13px;
      margin: 0 15px 0 15px; }

.nav__item::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background-color: white;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  top: 5px;
  right: -2px; }

.nav__item:last-child:after {
  content: none; }

.we {
  background: url("../images/bg/bg2.jpg") 0 0/cover no-repeat; }
  .we__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .we__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    padding: 0 10px; }
  .we__picture {
    margin-bottom: 20px; }
  .we__img {
    width: 120px;
    height: 120px; }
  .we__name {
    color: #2e3133;
    font-family: 'lifehack', Helvetica, sans-serif;
    margin-bottom: 7%;
    font-size: 24px; }
  .we__text {
    font-weight: 300;
    color: #2e3133;
    font-size: 14px;
    line-height: 1.42; }

.menu {
  background-image: url("../images/bg/menu-bg.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .menu__list, .menu__item, .menu__link, .menu__desc {
    height: 100%; }
  .menu__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .menu__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .menu__item--active .menu__content {
      width: 480px; }
    .menu__item--active .menu__title {
      color: #f7b23b; }
  .menu__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80px;
    text-decoration: none;
    padding-bottom: 20px; }
  .menu__title {
    width: 100%;
    white-space: nowrap;
    color: white;
    font-size: 40px;
    font-family: 'gagalin', sans-serif;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    margin-bottom: 50px; }
  .menu__content {
    width: 0;
    overflow: hidden;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
  .menu__desc {
    line-height: 1.42;
    color: white;
    padding: 50px 50px;
    background-color: #2f3133;
    opacity: 0.7; }

.comments__content {
  width: 100%;
  height: 100%; }

.comments__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  height: 100%; }
  .comments__list .comments__item {
    position: relative;
    width: 25%;
    height: 50%;
    background-position-x: 35%;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    color: white;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-background-size: cover;
            background-size: cover; }
    .comments__list .comments__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: #2e3133;
      opacity: 0;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    .comments__list .comments__item:hover::before {
      opacity: 0.6; }
    .comments__list .comments__item:hover .comments__item-content {
      opacity: 1; }
    .comments__list .comments__item-content {
      position: relative;
      margin-top: 55px;
      padding: 0 7%;
      opacity: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .comments__list .comments__item-title {
      font-family: 'gagalin', Helvetica, sans-serif;
      font-size: 14px;
      margin-bottom: 25px; }
    .comments__list .comments__item-text {
      font-size: 14px;
      font-weight: 300;
      line-height: 1.7;
      margin-bottom: 25px; }

.order {
  background-image: url("../images/bg/order-bg.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat; }

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .form__part {
    width: 50%;
    margin-left: 20px; }
    .form__part:first-child {
      margin-left: 0; }
  .form__title {
    font-size: 14px;
    color: white;
    margin-bottom: 5px; }
  .form__row {
    margin-bottom: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .form__input {
    border: initial;
    padding: 5px 20px;
    background-color: white;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    width: 100%; }
    .form__input--comment {
      height: 90px; }
  .form__block {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 20px; }
    .form__block:first-child {
      margin-left: 0; }
    .form__block--radio {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 0.5;
      -webkit-flex: 0.5;
          -ms-flex: 0.5;
              flex: 0.5;
      position: relative;
      margin-left: -50px; }
      .form__block--radio:first-child {
        margin-left: 0; }
    .form__block--checkbox {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: relative; }
  .form__radio-fake {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 15px;
    height: 15px;
    background-color: white;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin: 0 5px; }
    .form__radio-fake::before {
      content: "";
      display: block;
      width: 0px;
      height: 0px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background-color: #e34e29;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
  .form__radio {
    position: absolute;
    left: -5000px; }
  .form__radio:checked + .form__radio-fake::before {
    width: 7px;
    height: 7px; }
  .form__checkbox-fake {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 15px;
    height: 15px;
    background-color: white;
    margin: 0 5px; }
    .form__checkbox-fake::before {
      content: "";
      display: block;
      width: 0px;
      height: 0px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background-image: url("../images/svgicons/check.svg");
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
  .form__checkbox {
    position: absolute;
    left: -5000px; }
  .form__checkbox:checked + .form__checkbox-fake::before {
    width: 15px;
    height: 15px; }

.map {
  background-image: url("../images/bg/map-bg.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .map__marker {
    display: block;
    width: 50px;
    height: 60px; }
  .map__marker-svg {
    width: 50px;
    height: 60px; }

.footer {
  position: absolute;
  bottom: 0px;
  background-image: url("../images/bg/footer-bg.jpg");
  height: 60px;
  width: 100%; }

.contacts {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .contacts__phone-icon {
    height: 12px;
    width: 15px; }
  .contacts__number {
    color: #e34e29;
    font-size: 15px;
    font-weight: bold; }
  .contacts__address {
    color: white;
    font-size: 14px; }

.social {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .social__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .social__item {
    padding: 0 10px; }
  .social__icon {
    display: block;
    width: 20px;
    height: 20px;
    fill: #575757; }
  .social__link {
    display: block; }
    .social__link :hover {
      fill: white; }

.switcher {
  position: fixed;
  top: 70px;
  right: 60px; }

.switcher__item {
  margin-bottom: 16px; }

.switcher__item-link {
  position: relative;
  display: block;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: white; }
  .switcher__item-link:hover::before {
    opacity: 1; }

.switcher__item-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: white 1px solid;
  opacity: 0;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.switcher__item--activ .switcher__item-link::before {
  opacity: 1; }
