@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/Ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/Ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/Ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: medium;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/Ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/Gagalin/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/Gagalin/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehack';
  src: url("../fonts/Lifehack/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/Lifehack/lifehack_medium-webfont.woff") format("woff");
  font-weight: medium;
  font-style: normal; }

body {
  font-family: 'ubuntu', Helvetica, sans-serif; }

html, body {
  width: 100%;
  height: 100%; }

ul {
  margin: 0;
  padding: 0; }

ul li {
  list-style-type: none; }

a {
  text-decoration: none; }

p {
  margin: 0px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal; }

:root {
  font-size: 16px; }
  @media (max-width: 992px) {
    :root {
      font-size: 15px; } }
  @media (max-width: 768px) {
    :root {
      font-size: 14px; } }
  @media (max-width: 480px) {
    :root {
      font-size: 13px; } }

input, textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.wrapper {
  overflow: hidden;
  position: relative;
  height: 100%; }

.main-content {
  position: relative;
  height: 100%; }

.container {
  width: -webkit-calc(100% - 1.25rem);
  width: calc(100% - 1.25rem);
  max-width: 58.75rem;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .container_center {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .container--space-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .container_footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
    @media (max-width: 480px) {
      .container_footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }

.section {
  height: 100vh;
  min-height: 40.625rem;
  position: relative; }

.button {
  padding: 0.625rem 0.9375rem;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  text-decoration: none;
  font-size: 0.8125rem;
  text-transform: uppercase;
  color: white;
  border: none;
  cursor: pointer; }
  .button_order--link {
    color: white;
    padding: 0.625rem 0.9375rem;
    display: block;
    cursor: pointer; }
  .button_header {
    margin: 0 3.75rem 0 1.25rem; }
  .button_color-orange {
    background-color: #e34e29;
    cursor: pointer;
    padding: 0; }
  .button--comments {
    background-color: #2e3133;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start; }
    @media (max-width: 768px) {
      .button--comments {
        -webkit-align-self: center;
            -ms-flex-item-align: center;
                align-self: center; } }
  @media (max-width: 480px) {
    .button--desctop {
      display: none; } }
  .button--phonesize {
    display: none; }
    @media (max-width: 480px) {
      .button--phonesize {
        display: block; } }
  .button_clean {
    background-color: transparent;
    text-transform: none; }
  .button_close {
    padding: 0.625rem 0.9375rem;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    text-decoration: none;
    font-size: 0.8125rem;
    text-transform: uppercase;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #e34e29;
    color: white; }

.title {
  font-size: 4.5rem;
  font-family: 'gagalin', Helvetica, sans-serif;
  color: #f7b23b; }
  .title_color-grey {
    color: #2e3133;
    text-align: center;
    margin-bottom: 2.5rem; }
  .title_slide {
    color: white;
    margin-bottom: 1.875rem;
    line-height: 1; }
  .title_margin-button {
    margin-bottom: 0.9375rem; }
    @media (max-width: 480px) {
      .title_margin-button {
        margin-bottom: 0; } }
  .title_order {
    text-align: center;
    margin-bottom: 2.8125rem; }
  .title_menu {
    color: white;
    position: absolute;
    top: 6.25rem;
    left: 6.25rem; }
    @media (max-width: 768px) {
      .title_menu {
        left: 0.625rem; } }

.hero {
  background: url("../images/bg/bg11.jpg") 0 0/cover no-repeat; }
  .hero__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -3.75rem; }
    @media (max-width: 768px) {
      .hero__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column;
            -ms-flex-flow: column;
                flex-flow: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    .hero__content-desc {
      width: 50%; }
      @media (max-width: 768px) {
        .hero__content-desc {
          width: 75%;
          text-align: center; } }
      @media (max-width: 480px) {
        .hero__content-desc {
          width: 90%; } }
    .hero__content-img {
      width: 50%; }
      @media (max-width: 768px) {
        .hero__content-img {
          width: 75%; } }
      @media (max-width: 480px) {
        .hero__content-img {
          width: 90%; } }
    @media (max-width: 768px) {
      .hero__content-images {
        width: 100%; } }
    .hero__content-text {
      font-family: 'lifehack', Helvetica, sans-serif;
      color: white;
      font-size: 4.0625rem; }
      @media (max-width: 480px) {
        .hero__content-text {
          font-size: 3.125rem; } }
  .hero__down {
    width: 1.875rem;
    height: 0.9375rem;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    margin-bottom: 1.875rem; }
    .hero__down-link {
      display: block;
      cursor: pointer; }
    .hero__down-svg {
      width: 1.875rem;
      height: 0.9375rem; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.5625rem; }

.logo {
  display: block; }
  .logo-img {
    width: 5.6875rem;
    height: 4.4375rem; }

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .nav__list .nav__item {
    position: relative; }
    .nav__list .nav__item .nav__link {
      color: white;
      display: block;
      font-size: 0.8125rem;
      margin: 0 0.9375rem 0 0.9375rem; }
  @media (max-width: 768px) {
    .nav__list {
      height: 0;
      overflow: hidden; } }

.nav__item::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background-color: white;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  top: 5px;
  right: -2px; }

.nav__item:last-child:after {
  content: none; }

.we {
  background: url("../images/bg/bg2.jpg") 0 0/cover no-repeat; }
  .we__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 480px) {
      .we__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column;
            -ms-flex-flow: column;
                flex-flow: column; } }
  .we__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    padding: 0 0.625rem; }
    @media (max-width: 768px) {
      .we__item {
        width: 33%; } }
    @media (max-width: 480px) {
      .we__item {
        width: 95%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row;
            -ms-flex-flow: row;
                flex-flow: row;
        margin-bottom: 2rem; } }
  .we__picture {
    margin-bottom: 1.25rem; }
  .we__img {
    width: 7.5rem;
    height: 7.5rem; }
  @media (max-width: 480px) {
    .we__desc {
      text-align: left;
      padding-left: 1.25rem; } }
  .we__name {
    color: #2e3133;
    font-family: 'lifehack', Helvetica, sans-serif;
    margin-bottom: 7%;
    font-size: 1.5rem; }
  .we__text {
    font-weight: 300;
    color: #2e3133;
    font-size: 0.875rem;
    line-height: 1.42; }
    @media (max-width: 768px) {
      .we__text {
        padding: 0 0.75rem; } }
    @media (max-width: 480px) {
      .we__text {
        padding: 0; } }

.burgers {
  background: -webkit-gradient(linear, left bottom, left top, from(#f9b43b), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b));
  background: -webkit-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  background: -o-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  background: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%); }

.slider {
  width: 100%;
  position: relative; }
  .slider__wrap {
    overflow: hidden; }
  .slider__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
  .slider__item {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 2rem; }

.slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 768px) {
    .slide {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }
  .slide__picture {
    padding: 2.8125rem 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    @media (max-width: 768px) {
      .slide__picture {
        padding-bottom: 0;
        -webkit-box-flex: 1;
        -webkit-flex: auto;
            -ms-flex: auto;
                flex: auto;
        text-align: center; } }
  .slide__img {
    max-width: 100%; }
    @media (max-width: 768px) {
      .slide__img {
        max-width: 90%; } }
    @media (max-width: 480px) {
      .slide__img {
        max-width: 80%; } }
    @media (max-width: 480px) {
      .slide__img--size {
        max-width: 70%; } }
  .slide__desc {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 1.25rem; }
    @media (max-width: 768px) {
      .slide__desc {
        -webkit-box-flex: 1;
        -webkit-flex: auto;
            -ms-flex: auto;
                flex: auto;
        margin-left: 0;
        text-align: center; } }
  .slide__content {
    color: white;
    font-size: 0.8125rem;
    line-height: 1.7;
    font-weight: 300;
    margin-bottom: 0.9375rem; }
  .slide__order {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
    @media (max-width: 768px) {
      .slide__order {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  .slide__prices {
    font-family: 'gagalin', Helvetica, sans-serif;
    color: #e34e29;
    margin-bottom: -0.625rem; }
  .slide__cost {
    font-size: 4.375rem; }
    @media (max-width: 480px) {
      .slide__cost {
        font-size: 3.4375rem; } }
  .slide__currency {
    font-size: 1.875rem; }
  .slide__btn {
    margin-left: 1.5625rem; }

.composition, .kkal {
  position: absolute;
  left: 0; }

.composition {
  top: 0; }
  .composition__show {
    position: absolute;
    top: 0;
    left: -347.1875rem; }
  .composition__list {
    background: white;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    width: 12.5rem;
    height: 15.625rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.9375rem; }
  .composition__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: black; }
  .composition__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 0.9375rem; }
  .composition__weight {
    font-size: 0.875rem;
    font-weight: 300;
    text-align: right; }

.composition__icon {
  width: 5.625rem;
  height: 5.625rem;
  background-color: #eb8c38;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }
  .composition__icon:hover .composition__show {
    left: 5.625rem; }
  .composition__icon .composition__text {
    font-family: 'gagalin', Helvetica, sans-serif;
    color: white;
    font-size: 0.875rem; }

.kkal {
  bottom: 0; }
  @media (max-width: 768px) {
    .kkal {
      top: 0;
      right: 0;
      bottom: auto;
      left: auto; } }

.kkal__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }
  .kkal__icon .kkal__svg {
    opacity: 0.8;
    margin-bottom: 5px; }
  .kkal__icon .kkal__sum, .kkal__icon .kkal__unit {
    font-family: 'gagalin', Helvetica, sans-serif;
    color: white;
    opacity: 0.8; }
  .kkal__icon .kkal__sum {
    top: 1.875rem;
    font-size: 1.375rem;
    position: absolute; }
  .kkal__icon .kkal__unit {
    font-size: 0.9375rem; }

.slider__arrows {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 480px) {
    .slider__arrows {
      left: 5%;
      width: 90%; } }

.slider__arrow {
  width: 1.875rem;
  height: 3.125rem;
  border: transparent;
  cursor: pointer;
  background-position: center;
  outline: none; }

.slider__arrowprew {
  background: url("../images/content/intro/Strelka33.png");
  background-repeat: no-repeat; }

.slider__arrownext {
  background: url("../images/content/intro/Strelka22.png");
  background-repeat: no-repeat; }

.team {
  background-image: url("../images/bg/team-bg.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  @media (max-width: 768px) {
    .team {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .team__block {
    height: 100%;
    width: 50%;
    background-color: #2f3133;
    opacity: 0.9;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    @media (max-width: 768px) {
      .team__block {
        width: 100%; } }
  .team__wrap {
    width: 70%;
    padding-top: 22%; }
    @media (max-width: 768px) {
      .team__wrap {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column;
            -ms-flex-flow: column;
                flex-flow: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
    @media (max-width: 480px) {
      .team__wrap {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column;
            -ms-flex-flow: column;
                flex-flow: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
  .team__content {
    height: 0;
    overflow: hidden;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
    .team__content-wrap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      color: white; }
      @media (max-width: 768px) {
        .team__content-wrap {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-flow: column;
              -ms-flex-flow: column;
                  flex-flow: column; } }
  .team__item {
    margin-top: 1.875rem; }
    @media (max-width: 768px) {
      .team__item {
        text-align: center; } }
    @media (max-width: 768px) {
      .team__item--active .team__content {
        height: 9.375rem; } }
    .team__item--active .team__link {
      color: #f7b23b; }
      .team__item--active .team__link::before {
        border-top: 0;
        border-bottom: 0.5rem solid orange; }
  .team__link {
    display: inline-block;
    margin-bottom: 0.9375rem;
    font-family: 'gagalin', sans-serif;
    color: white;
    position: relative; }
    .team__link::before {
      content: "";
      display: block;
      border: 6px solid transparent;
      border-top: 6px solid #f7b23b;
      position: absolute;
      top: 5px;
      left: -1.25rem;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
  .team__images {
    height: 6.25rem;
    width: 6.25rem;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
  .team__desc {
    margin-left: 1.25rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    @media (max-width: 768px) {
      .team__desc {
        margin-left: 0; } }
    .team__desc-title {
      font-size: 0.875rem;
      font-weight: bold; }
    .team__desc-text {
      font-size: 0.875rem; }

.menu {
  background-image: url("../images/bg/menu-bg.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .menu__list, .menu__item, .menu__link, .menu__desc {
    height: 100%; }
  .menu__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s; }
  .menu__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 5; }
    .menu__item--active .menu__content {
      width: 30rem; }
      @media (max-width: 768px) {
        .menu__item--active .menu__content {
          width: 25rem; } }
    .menu__item--active .menu__title {
      color: #f7b23b; }
    .menu__item--active .menu__desc {
      opacity: 1;
      -webkit-transition: opacity .3s;
      -o-transition: opacity .3s;
      transition: opacity .3s;
      -webkit-transition-delay: .9s;
           -o-transition-delay: .9s;
              transition-delay: .9s; }
  .menu__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 5rem;
    text-decoration: none; }
  .menu__title {
    width: 100%;
    white-space: nowrap;
    color: white;
    font-size: 2.5rem;
    font-family: 'gagalin', sans-serif;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    margin-bottom: 3.125rem; }
  .menu__content {
    width: 0;
    overflow: hidden;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    background-color: #2f3133;
    opacity: 0.9; }
  .menu__desc {
    line-height: 1.42;
    color: white;
    padding: 2.5rem;
    padding-bottom: 0;
    opacity: 0; }

.comments__content {
  width: 100%;
  height: 100%; }

.comments__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  height: 100%; }
  .comments__list .comments__item {
    position: relative;
    width: 25%;
    height: 50%;
    background-position-x: 35%;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    color: white;
    -webkit-background-size: cover;
            background-size: cover; }
    @media (max-width: 768px) {
      .comments__list .comments__item {
        width: 50%;
        height: 25%;
        background-position: center; } }
    .comments__list .comments__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: #2e3133;
      opacity: 0;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    .comments__list .comments__item:hover::before {
      opacity: 0.6; }
    .comments__list .comments__item:hover .comments__item-content {
      opacity: 1; }
    .comments__list .comments__item-content {
      position: relative;
      margin-top: 3.4375rem;
      padding: 0 7%;
      opacity: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      @media (max-width: 768px) {
        .comments__list .comments__item-content {
          margin-top: 1.5625rem;
          text-align: center; } }
      @media (max-width: 480px) {
        .comments__list .comments__item-content {
          margin-top: 0;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          height: 100%; } }
    .comments__list .comments__item-title {
      font-family: 'gagalin', Helvetica, sans-serif;
      font-size: 0.875rem;
      margin-bottom: 1.5625rem; }
      @media (max-width: 480px) {
        .comments__list .comments__item-title {
          -webkit-align-self: center;
              -ms-flex-item-align: center;
                  align-self: center;
          font-size: 1.25rem; } }
    .comments__list .comments__item-text {
      font-size: 0.875rem;
      font-weight: 300;
      line-height: 1.7;
      margin-bottom: 1.5625rem; }
      @media (max-width: 480px) {
        .comments__list .comments__item-text {
          display: none; } }

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(76, 82, 91, 0.8);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10000; }

.overlaycontainer {
  position: relative;
  width: 25rem;
  min-height: 13.125rem;
  background-color: white;
  color: black;
  padding: 2rem 1.5rem;
  -webkit-border-radius: 5px;
          border-radius: 5px; }
  @media (max-width: 480px) {
    .overlaycontainer {
      width: 80%; } }

.overlaycontent {
  line-height: 1.9;
  font-size: 0.8125rem; }

.comments__overlaytitle {
  font-size: 0.875rem;
  font-family: 'gagalin', Helvetica, sans-serif;
  margin-bottom: 1.25rem; }

.close {
  color: #e34f27;
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  font-size: 2rem; }

.player {
  background: url("../images/bg/bg-player.jpg") 0 0/cover no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }
  .player__main {
    text-align: center;
    display: inline-block;
    position: relative;
    margin: 0 auto; }
  .player__wrapper {
    display: inline-block;
    position: relative; }
  .player__controls {
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
    height: 2.8125rem;
    background: #3d3d3d;
    opacity: 1; }
  .player__playback, .player__duration {
    display: inline-block; }
  .player__start {
    padding: 0;
    border: 0;
    line-height: 0;
    position: absolute;
    left: 0.625rem;
    top: 5px;
    cursor: pointer; }
    .player__start-icon {
      fill: #616161;
      background-color: #3d3d3d; }
  .player .paused {
    width: 5px;
    height: 1.375rem;
    background: #616161;
    border: transparent;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    top: 0.625rem;
    left: 1.25rem;
    cursor: pointer; }
    .player .paused .player__start-icon {
      display: none; }
    .player .paused::before {
      content: "";
      display: block;
      width: 5px;
      height: 1.375rem;
      background: #616161;
      border: transparent;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      position: absolute;
      left: 0.5625rem;
      top: 0;
      cursor: pointer; }
  .player__playback {
    position: absolute;
    height: 4px;
    width: 27.875rem;
    background: #626262;
    top: 1.1875rem;
    left: 3.75rem;
    cursor: pointer; }
    .player__playback-button {
      background: #626262;
      -webkit-border-radius: 3.125rem;
              border-radius: 3.125rem;
      border: none;
      width: 0.75rem;
      height: 0.75rem;
      padding: 0;
      position: absolute;
      top: -4px;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      left: 0;
      cursor: pointer; }
  .player__volume {
    position: absolute;
    right: 5.625rem;
    top: 5px;
    padding: 0;
    border: 0;
    line-height: 0;
    cursor: pointer; }
    .player__volume-icon {
      fill: #616161;
      background-color: #3d3d3d; }
  .player__volume-line {
    position: absolute;
    height: 4px;
    width: 3.75rem;
    background: #626262;
    top: 1.1875rem;
    right: 1.25rem;
    cursor: pointer; }
    .player__volume-line .player__volume-button {
      background: #626262;
      -webkit-border-radius: 3.125rem;
              border-radius: 3.125rem;
      border: none;
      width: 0.75rem;
      height: 0.75rem;
      padding: 0;
      position: absolute;
      top: -4px;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      right: 0;
      cursor: pointer; }
  .player__splash {
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer; }
    .player__splash-icon {
      fill: white; }
  .player .none {
    display: none; }

.mute .player__volume-icon {
  fill: red; }

.order {
  background-image: url("../images/bg/order-bg.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat; }

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 768px) {
    .form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column;
          -ms-flex-flow: column;
              flex-flow: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }
  .form__part {
    width: 50%;
    margin-left: 1.25rem; }
    @media (max-width: 768px) {
      .form__part {
        width: 80%;
        margin-left: 0; } }
    @media (max-width: 480px) {
      .form__part {
        width: 100%; } }
    .form__part:first-child {
      margin-left: 0; }
  .form__title {
    font-size: 0.875rem;
    color: white;
    margin-bottom: 5px;
    margin-left: 0.9375rem; }
  .form__row {
    margin-bottom: 1.25rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .form__input {
    border: initial;
    padding: 5px 1.25rem;
    background-color: white;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    width: 100%; }
    .form__input--comment {
      height: 5.625rem; }
  .form__block {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 1.25rem; }
    @media (max-width: 480px) {
      .form__block {
        text-align: center; } }
    .form__block:first-child {
      margin-left: 0; }
    .form__block--radio {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 0.5;
      -webkit-flex: 0.5;
          -ms-flex: 0.5;
              flex: 0.5;
      position: relative;
      margin-left: -3.125rem; }
      @media (max-width: 480px) {
        .form__block--radio {
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center; } }
      .form__block--radio:first-child {
        margin-left: 0; }
    .form__block--checkbox {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: relative; }
      @media (max-width: 480px) {
        .form__block--checkbox {
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center; } }
  .form__radio-fake {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 0.9375rem;
    height: 0.9375rem;
    background-color: white;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
    .form__radio-fake::before {
      content: "";
      display: block;
      width: 0px;
      height: 0px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background-color: #e34e29;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
  .form__radio {
    position: absolute;
    left: -312.5rem; }
  .form__radio:checked + .form__radio-fake::before {
    width: 0.4375rem;
    height: 0.4375rem; }
  .form__checkbox-fake {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 0.9375rem;
    height: 0.9375rem;
    background-color: white; }
    .form__checkbox-fake::before {
      content: "";
      background-image: url("../images/svgicons/check.svg");
      -webkit-background-size: contain;
              background-size: contain;
      background-repeat: no-repeat;
      width: 0px;
      height: 0px; }
  .form__checkbox {
    position: absolute;
    left: -312.5rem; }
  .form__checkbox:checked + .form__checkbox-fake::before {
    width: 0.6875rem;
    height: 0.6875rem; }

.error {
  color: red; }

.over-lay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(76, 82, 91, 0.8);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10000; }

.overlay-container {
  width: 10.625rem;
  min-height: 5rem;
  background-color: white;
  color: black;
  padding: 1.25rem;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.overlay-content {
  font-size: 0.875rem;
  margin-bottom: 1rem; }

.send {
  padding: 0.625rem 0.9375rem; }

.map-main {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.map {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.footer {
  position: absolute;
  bottom: 0px;
  background-image: url("../images/bg/footer-bg.jpg");
  height: 3.75rem;
  width: 100%; }
  @media (max-width: 480px) {
    .footer {
      height: 7.1875rem; } }

.contacts {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  white-space: nowrap; }
  @media (max-width: 480px) {
    .contacts {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      height: 50%;
      margin-bottom: 0.625rem; } }
  .contacts__phone-icon {
    height: 0.75rem;
    width: 0.9375rem; }
  .contacts__number {
    color: #e34e29;
    font-size: 0.9375rem;
    font-weight: bold; }
  .contacts__address {
    color: white;
    font-size: 0.875rem; }
    @media (max-width: 480px) {
      .contacts__address {
        margin-bottom: 0.625rem; } }

.social {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 480px) {
    .social {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .social__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .social__item {
    padding: 0 0.625rem; }
  .social__icon {
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    fill: #575757; }
  .social__link {
    display: block; }
    .social__link :hover {
      fill: white; }

.switcher {
  position: fixed;
  top: 4.375rem;
  right: 3.75rem; }
  @media (max-width: 768px) {
    .switcher {
      height: 0;
      overflow: hidden; } }
  @media (max-width: 480px) {
    .switcher {
      height: 0;
      overflow: hidden; } }

.switcher__item {
  margin-bottom: 1rem; }

.switcher__item-link {
  position: relative;
  display: block;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: white; }
  .switcher__item-link:hover::before {
    opacity: 1; }

.switcher__item-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 1rem;
  height: 1rem;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: white 1px solid;
  opacity: 0;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.switcher__item_active .switcher__item-link::before {
  opacity: 1; }

.navadapt, .navadapt__wrap {
  background-color: #2e3133;
  opacity: 0.9;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  z-index: 400; }
  .navadapt_active, .navadapt__wrap_active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .navadapt__wrap, .navadapt__wrap__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
  .navadapt__logo, .navadapt__wrap__logo {
    width: 5.6875rem;
    height: 4.4375rem;
    position: absolute;
    top: 0.625rem;
    left: 0.625rem;
    z-index: 500; }

.navadapt__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .navadapt__list .navadapt__item {
    position: relative; }
    .navadapt__list .navadapt__item .navadapt__link {
      color: white;
      display: block;
      font-size: 1.5rem; }

.navadapt__item::after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: white;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: 1.875rem 50%;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px); }

.navadapt__item:last-child:after {
  content: none; }

.nav__burger {
  width: 1.75rem;
  height: 5px;
  background-color: white;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  position: relative; }
  .nav__burger-link {
    display: none;
    height: 1.875rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    top: 2rem;
    right: 1.75rem;
    z-index: 500; }
    @media (max-width: 768px) {
      .nav__burger-link {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }
    @media (max-width: 480px) {
      .nav__burger-link {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }
  .nav__burger::before {
    content: "";
    display: block;
    width: 1.75rem;
    height: 5px;
    background-color: white;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    position: absolute;
    top: -0.625rem;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .nav__burger::after {
    content: "";
    display: block;
    width: 1.75rem;
    height: 5px;
    background-color: white;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    position: absolute;
    top: 0.625rem;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.nav__burger-link--active .nav__burger {
  background: transparent; }

.nav__burger-link--active .nav__burger::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.nav__burger-link--active .nav__burger::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
